/* brooo */
body {
  font-family: fantasy;
  background-color: lightgrey;
  margin: 0px;
}
#bg-img {
  position: fixed;
  top: 0px;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  opacity: .25;
}

h1 {
  background-color: white;
  width: 50%;
  padding: 10px;
  margin: 5px auto;
  text-align: center;
  text-shadow: 2px 2px white;
  border-radius: 5px;
  border: dashed 2px black;
  font-size: 200%
}

      p, h2 {
        color: indigo;
}

      ul, li {
        font style: italic;
}
  
       a {
         color: red;
}
      
}

      .int-link, ol p {
        font-weight:
}
        #mail-link {
          color: 
} 

    
